

#usuario{
    
    background-color: rgba(143, 84, 84, 0.418);
    color:rgb(8, 53, 53);
    font-family:Helvetica, Arial, sans-serif
}

h1{
    background:white;
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    
}